section {
  width: 400px;
}

h1 {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 28px;
}

.sidebar-container {
  padding-right: 12px;
}

.inputs-container {
  padding-left: 12px;
  padding-top: 10px;
  display: flex;
}

.type-label,
.rating-label {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 0.8rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
  margin-bottom: 12px;
}

select {
  margin-right: 12px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.54);
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 180px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

